name: credential_manager
description: >
  Credential Manager plugin. Provides one-tap login functionality and stores credentials
  in the user's Google account on Android and in the Keychain on iOS.

version: 2.0.7
homepage: https://djsmk123.github.io/flutter_credential_manager_compose
repository: https://github.com/Djsmk123/flutter_credential_manager_compose
publish_to: pub.dev

environment:
  sdk: '>=3.1.3 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  credential_manager_platform_interface: ^2.0.6
  credential_manager_android: ^2.0.6
  credential_manager_ios: ^2.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        default_package: credential_manager_android
      ios:
        default_package: credential_manager_ios

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
